.header{
    height: 120px;
    background-image: linear-gradient(0, #FE5330, #F63A26);
}
.header__navbar-list
{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar-items-link
{
    text-decoration: none;
    
}
.header__navbar-items{
    display: inline-block;
    margin:0 9px;
    position: relative;
}
.header__navbar
{
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}
.header__navbar-items, .header__navbar-items-link{
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-items--bold
{
    font-weight: 500;
}

.header__navbar-items--seperate:after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: white;
    top: 27%;
    right: -9px;
}
.header__navbar-items--qr:hover .header__qrcode
{
    /* Header Qr Code hiển thị qr */
    z-index: 1;
    display: block;
   
}


/* lớp giả hover */


/* hiển thị thông báo */
/* .header__navbar-items--notification:hover .header__noti{
    display: block;
} */
/* psudue class hover */
.header__navbar-items:hover, .header__navbar-items-link:hover,.header__navbar-icons-link:hover
{
    cursor: pointer;
    color: rgba(255,255,255, 0.7);
    transition: 0.2s;
}





.header__navbar-icons-link
{
    text-decoration: none;
    color: white;
}
.header__navbar-icons
{
    margin: 0 2px;
    font-size: 1.8rem;
}

.header__navbar-items, .header__navbar-items-link, .header__navbar-icons-link{
    text-align: center;
}
.header__navbar-icons{
    margin-left: 11px;
}
.header__navbar-items-title--no-pointer
{
    cursor:text ;
    color: white;
}

/* QR CODE */

.header__qrcode{
    width:186px;
    background-color: white;
    position: absolute;
    left: 0%;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .2s;
}
.header__qrcode::before{
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    top: -15px;
    left:0;
}
.header__qr-img{
    width: 100%;
}
.header__qrcode-store{
    display: flex;
    justify-content: space-between;
}
.header__download-link:nth-child(1){
    margin-left: 11px;

}
.header__download-link:nth-child(2){
    margin-right: 11px;
}
.header__qrcode-store-img{
    height: 15px;
}

/* Thông báo */
/* .header__navbar-items-link--position
{
    position: relative;
} */
/* lớp giả hover notification */
.header__navbar-icons {
    padding-top: 1px;
}
.header__navbar-items--notification:hover .header__noti{
    display: block;
    z-index: 1;
}
.header__noti::before{
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    top: -10px;
    left:0;
}
.header__noti{
    background-color: white;
    width: 420px;
    position: absolute;
    top: 160%;
    right: 1%;
    border: 1px solid #D3D3D3;
    display: none;
    transform-origin: calc(100% - 10px) top;
    will-change: opacity, transform ;
    animation: headerNotiGrowth ease-in 0.3s;

}
.header__noti::after{
    content: "";
    border: 20px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -32px;
    right: 9px;
}
.header__noti-header{
 height: 40px;
 cursor: default;
}
.header__noti-header h3{
    color: #6b6868;
    font-size: 1.6rem;
    font-weight: 200;
    margin: 0;
    line-height: 40px;
    margin-left: 12px;
    user-select: none;
}
.header__noti-list{
    padding: 0;
  
}

.header__noti-items{
    list-style: none;
    background-color: #FFDED8;
}

.header__noti-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}
.header__noti-link:hover
{
    background-color: #F8F8F8;
    /* animation: fadeIn ease-in 0.5s; */
}
.header__noti-img{
    height: 48px;
    width: 48px;
    object-fit: contain;
}

.header__noti-info{
    margin-left: 12px;
}

.header__noti-title{
display: block;
color: black;
font-weight: 350;
font-size: 1.4rem;
line-height: 1.8rem;

}

.header__noti-des{
display: block;
color: #6b6868;
margin: 2px;
font-size: 1rem;
}
/* header footer */
.header__noti-footer
{
    height: 37px;
}
.header__noti-footer--btn{
    margin-left: 37px;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 3.7rem;
}
@keyframes headerNotiGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes Growth{
    from{
        transform: scale(var(--growthFrom));
    }
    to{
        transform: scale(var(--growthTo ));
    }
}
/* MODALLLLLLLL */

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    animation: fadeIn linear 0.15s;
}

.modal__overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
}
.modal__body
{
    --growthFrom : 0.7;
    --growthTo: 1;
    position: relative;
    margin: auto;
    width: 560px;
    background-color: #FFFFFF;
    z-index: 1;
    border-radius: 5px;
    animation: Growth linear 0.1s;
}

/* .modal__inner{
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: white;
} */

/* registration */

.registration__header
{
    width: 100%;
    height: 125px;
}


.auth__form__container
{
    box-sizing: border-box;
    padding:0 37px;
    width: 100%;
}
.auth__form__header
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px ;
    margin-top: 8px;
}
.auth__form__heading{
    font-size: 2.5rem;
    font-weight: 400;
}
.auth__form__switch-btn
{
    font-size: 1.8rem;
    color: #DC523B;
    font-weight: 600;
    cursor: pointer;
}

.auth__form__form
{
    margin-top: 35px;
}
.auth__form__group{
    height: 45px;
    width: 100%;
    margin-bottom:20px ;

}
.auth__form__group__input{
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    padding-left: 13px;
}
.auth__form__group__policy{
    margin: 32px 15px;
}
.auth__form__group__note
{
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
}
.auth__form__group__policy-service{
    text-decoration: none;
    color: #DC523B;
}

.near__footer
{
    margin-top: 110px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

/* near footer */
.near__footer__back{
    font-weight: 400;
    margin-right: 10px;
}

.form__footer
{
    box-sizing: border-box;
    height: 66px;
    background-color: #DBDBDB;
    display: flex;
    padding: 15px 45px;
    align-items: center;
    justify-content: space-between;
}
.form__footer__group
{
    height: 34px;
    width: 250px;
    background-color: #2B4270;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 43px;
    border-radius: 3px;
}
.form__footer__google 
{
    background-color: white;
    margin-left: 12px;
}

.form__footer__facebook-text{
    color: white;
    text-decoration: none;
    padding-left: 20px;


}
.fa-square-facebook ,.fa-google{
    font-size: 2.5rem;
}
.form__footer__google-text{
    text-decoration: none;
    color: #696969;
    padding-left: 36px;


}
.fa-brands{
    cursor: pointer;
}


/* form đăng nhập */


.auth__form__group__help
{
    display: flex;
    justify-content: flex-end;
}

.auth__form__group__help-forget-password, .auth__form__group__help-help{

    text-decoration: none;
    font-size: 1.7rem;
}
.auth__form__group__help-forget-password{
    color: #DC523B;
    position: relative;

}
.auth__form__group__help-help{
    color: #959595;
    margin-left: 27px;
}
.auth__form__group__help-forget-password::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 21px;
    background-color: #949090;
    top: -2px;
    right: -14px;
}


/* Header with search */

.header-with-search{
    box-sizing: border-box;
    height: var(--header-with-search);
    display: flex;
    align-items: center;
    
}
.header-with-search-icon{
    width: 162px;
    padding-right: 40px;
    margin-left: 8px;
}
.header-with-search-bar{
    flex: 1;
    height: 42px;
    background-color: white;
    border-radius: 2px;
}







/* search bar */




.header-with-search-bar
{
    display: flex;
}
.header-with-search-bar-input
{
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 200;
    border: none;
    padding-left: 12px;
    border-radius: 2px;
}
.header-with-search-bar-input-box{
    height: 100%;
    flex: 0.77;
    position: relative;
}
.header-with-search-bar-input-box::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 26%;
    right: 0;
}
.header-with-search-bar-in-shop
{
    flex: 0.14;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 200;
    padding-left: 12px;
}
.header-with-search-bar-search-icon
{
    flex: 0.09;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.search-bar-icon-box
{
    width: 60px;
    height: 35px;
    margin: 3px;
    background-color: #FA482D;
    border-radius: 3px;
    display: flex;
}
.fa-magnifying-glass{
    margin: auto;
}
.search-history{
    display: none;
    position: absolute;
    width: 97%;
    background-color: white;
    top: calc(100% + 2px);
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.09);
    border-radius: 3px;

}

.search-history--header{
    height: 33px;
    font-size: 1.5rem;
    color: #999999;
    font-weight: 200;
    margin-top: 10px;
    padding-left: 12px;
}

.search-history-item{
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
align-items: center;
padding-left: 12px;

}

.search-history-item:hover
{
    background-color: #FAFAFA;
    cursor: pointer;
}
/* Để tắt đường viền focus */
input:focus {
    outline: none; /* Tắt đường viền focus */
  }
  
.header-with-search-bar-input:focus ~.search-history{
    display: block;
}



/* cart */
.header-with-search-cart{
    width: 150px;
    font-size: 2.4rem;

    text-align: center;
}
.fa-cart-shopping
{
    margin: auto;
}

.shopping__cart__number{
    /* display: none; */
    position: absolute;
    top: -13px;
    right: -11px;
    background-color: white;
    height: 20px;
    width: 25px;
    border-radius: 45%;
    font-size: 1.6rem;
    text-align: center;
    color: #DC523B;
    border: 2.5px solid #DC523B;
}



.shopping__cart-items{
    display: none;
    background-color: white;
    position: absolute;
    width: 400px;
    right: -9px;
    top: 40px;
    border-radius: 2px;
    box-shadow: 0 2px 15px 15px rgba(0, 0, 0, 0.09);
    transform-origin: calc(100% - 10px) top;
    will-change: opacity, transform ;
    animation: headerNotiGrowth ease-in 0.2s;
    text-align: start;

}
.shopping__cart__no-items-img{
    display: none;
    padding : 20px;
    margin: auto;
}
.no--cart-img{
    width : 80%;
    height : auto;
}

.shopping__cart__no-items-text{
    display: block;
    font-size: 1.3rem;
    padding-bottom: 15px;
    display: none;
}

.header-with-search-cart-wrap
{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.fa-cart-shopping:hover
{
    opacity: 0.8;
}
.header-with-search-cart-wrap:hover .shopping__cart-items{
    display: block;
}
.shopping__cart-items::after{
    content: "";
    border-width: 15px 20px;
    border-style:  solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -24px;
    right: 0px;
}



.shopping__cart__header h3
{
    box-sizing: border-box;
    cursor: default;
    height: 32px;
    color: #999999;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    line-height: 4.0rem;
    padding-left: 13px;   
    border-bottom: 0.1px solid #CCCCCC;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.shopping__cart__list
{
    margin-top: 10px;
}
.shopping__cart__list-items-img
{
    width: 42px;
    height: auto;
    border: 1px solid #E8E8E8;
}
.shopping__cart__list-items{
    height: 80px;
    padding :0px 12px 0 15px;
    border-bottom: 0.1px solid #CCCCCC;
}

.shopping__cart__list-items-object
{
    display: block;
}
.shopping__cart__list-items-text
{
    font-size: 1.5rem;
    width: 224px;
}

.shopping__cart__list-items{
    display: flex;
    align-items: center;
}

.shopping__cart__list-items_box{

    width: 100%;
    height: 100%;
    margin-left: 12px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.shopping__cart__list-items-price{
    color: #FE5734;
    font-size: 1.5rem;
    font-weight: 370;
}
.shopping__cart__list-items-multiply, .shopping__cart__list-items-amount
{
    font-size: 1.0rem;
}
.shopping__cart__list-items_top_box
{
    
    display: flex;
    justify-content: space-between;
}
.shopping__cart__list-items-price-wrap{
    display: flex;
}
.shopping__cart__list-items-multiply{
    margin: 0 4px;
}

.shopping__cart__list-items-bottem-box{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.shopping__cart__list-items-text-note
{
    font-weight: 150;
    font-size: 1.2rem;
    color: #757575;
}
.shopping__cart__list-items-text-delete
{
    font-size: 1.5rem;
    font-weight: 400;
}

.shopping__cart__list__footer{
    height: 60px;
    cursor: default;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.shopping__cart__list__footer-btn{
    cursor: pointer;
    margin: 12px 12px;
    height: 35px;
    width: 125px;
    background-color: #F5522E ;
    display: flex;
    border-radius: 3px;
}
.shopping__cart__list__footer-btn-text
{
    display: block;
    margin: auto;
    color: white;
    font-size: 1.5rem;
}

.shopping__cart__list-items:hover{
    background-color: #F8F8F8;
}
.shopping__cart__list__footer-btn :hover{
    background-color: #F05D41;
}



.header__navbar-items-user-avatar
{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    border: 0.1px dotted black;
    object-fit: cover;
    margin-right: 5px;
}
.header__navbar-items-user{
    display: flex;
    align-items: center;
    position: relative;
    height: 25px;
    width: 160px;
}

.header__navbar-items-user-info{
    display: none;
    height: 180px;
    width: 160px;
    position: absolute;
    background-color: white;
    top: 31px;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.09);
    flex-direction: column;
    animation : fadeIn ease-in 0.2s;
}
.header__navbar-items-user-info-list{
    width: 100%;
    height: 45px;
    display: flex;
    background-color: white;
}
.header__navbar-items-user-info-list-text{
    margin: auto;
    display: block;
    color: black;
    font-weight: 390;
    font-size: 1.5rem;
    height: 20px;
    width: 128px;
    text-align: left;
}

.header__navbar-items-user-info ::after{
    content: "";
    border-width: 15px 20px;
    border-style:  solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -21px;
    right: 0px;
}
.header__navbar-items-user-info ::before{
    content: "";
    height: 10px;
    width: 100%;
    position: absolute;
    top: -10px;
    right: 0px;
}
.header__navbar-items-user:hover .header__navbar-items-user-info{
    display: flex;
}
.header__navbar-items-user-info-list:hover{
    cursor: pointer;
    background-color: #F8F8F8;
}


.grid__full-with
{
    width: 100%;
}

.grid__row{
    display:  flex;
    flex-wrap:  wrap;
}